<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>My Todoist</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container-fluid text-center">
      <div class="row content">
        <h1 align="center">Todoist</h1>
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-left">
          <br />
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-9">
                  <h3 class="panel-title">My To-Do List</h3>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <form method="POST" id="to_do_form" action="/add_notes/">
                {% csrf_token %}
                <div class="input-group">
                  <input
                    type="text"
                    name="todo"
                    id="todo"
                    class="form-control input-lg"
                    autocomplete="off"
                    placeholder="Type......."
                  />
                </div>
              </form
             </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>

  </body>
</html>
